*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --background: #fff;
  --panel-background: #dcdcdc;
  --text: #020202;
  --primary: #105a80;
  --primary-dark: #0f5274;
  --primary-darker: #0c4460;
  --primary-disabled: #e5e5e5;
  --primary-text: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
    --panel-background: #383838;
    --text: #e4e4e4;
    --primary: #78c2dc;
    --primary-dark: #66abc4;
    --primary-darker: #5c9cb3;
    --primary-disabled: #909090;
    --primary-text: #030303;
  }
}

body {
    width: 100%;
    max-width: 36rem;
    margin: auto;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    background-color: var(--background);
}

.button {
  color: var(--primary-text);
  background-color: var(--primary);
  border: None;
  border-radius: 0.2rem;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  transition: background-color 0.2s ease;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.button:hover {
  background-color: var(--primary-dark);
}

.button:active {
  background-color: var(--primary-darker);
}

.button:disabled {
  background-color: var(--primary-disabled);
  cursor: default;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

input {
  width: 100%;
  margin: 0.2rem 0 0.6rem 0;
  font-size: 1.2rem;
  padding: 0.2rem;
  color: var(--text);
  background-color: var(--panel-background);
}

img {
  width: 100%;
  height: auto;
}